[user]
	name = Diego Alpízar
	email = 48010731+DiegoAlpizar@users.noreply.github.com
[credential]
	credentialStore = secretservice
	helper = 
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[alias]
	mv = mv -v
